# Alternative: 2 CUs x MC_LANES=3 (make NCU=2 LANES=3). Same total lanes as 1 x 6 but a second
# pricer/merger and a second pair of m_axi adapters; only useful if one 6-lane CU cannot be placed.
[connectivity]
nk=mc_heston_v2:2:mc_heston_v2_1.mc_heston_v2_2
sp=mc_heston_v2_1.fpar:HBM[0]
sp=mc_heston_v2_1.out:HBM[1]
sp=mc_heston_v2_2.fpar:HBM[2]
sp=mc_heston_v2_2.out:HBM[3]


[vivado]
prop=run.synth_1.{STEPS.SYNTH_DESIGN.ARGS.MORE OPTIONS}={-retiming}
