# v++ link configuration - CU-scaling ablation: 2 CUs per variant (24 HBM banks).
# Same kernels as link.cfg. Build with: make xclbin NCU=2
[connectivity]
nk=conv3_rgb16:2:conv3_rgb16_1.conv3_rgb16_2
nk=conv3_rgb8:2:conv3_rgb8_1.conv3_rgb8_2
nk=conv3_gray8:2:conv3_gray8_1.conv3_gray8_2
sp=conv3_rgb16_1.img_in:HBM[0]
sp=conv3_rgb16_1.out_sharpen:HBM[1]
sp=conv3_rgb16_1.out_edge:HBM[2]
sp=conv3_rgb16_1.out_blur:HBM[3]
sp=conv3_rgb16_2.img_in:HBM[4]
sp=conv3_rgb16_2.out_sharpen:HBM[5]
sp=conv3_rgb16_2.out_edge:HBM[6]
sp=conv3_rgb16_2.out_blur:HBM[7]
sp=conv3_rgb8_1.img_in:HBM[8]
sp=conv3_rgb8_1.out_sharpen:HBM[9]
sp=conv3_rgb8_1.out_edge:HBM[10]
sp=conv3_rgb8_1.out_blur:HBM[11]
sp=conv3_rgb8_2.img_in:HBM[12]
sp=conv3_rgb8_2.out_sharpen:HBM[13]
sp=conv3_rgb8_2.out_edge:HBM[14]
sp=conv3_rgb8_2.out_blur:HBM[15]
sp=conv3_gray8_1.img_in:HBM[16]
sp=conv3_gray8_1.out_sharpen:HBM[17]
sp=conv3_gray8_1.out_edge:HBM[18]
sp=conv3_gray8_1.out_blur:HBM[19]
sp=conv3_gray8_2.img_in:HBM[20]
sp=conv3_gray8_2.out_sharpen:HBM[21]
sp=conv3_gray8_2.out_edge:HBM[22]
sp=conv3_gray8_2.out_blur:HBM[23]
slr=conv3_rgb16_1:SLR0
slr=conv3_rgb16_2:SLR0
slr=conv3_rgb8_1:SLR0
slr=conv3_rgb8_2:SLR0
slr=conv3_gray8_1:SLR0
slr=conv3_gray8_2:SLR0


[vivado]
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=ExtraNetDelay_high
