# link.cfg - v++ link configuration, v2 portfolio kernel on Alveo U50 (xilinx_u50_gen3x16_xdma_5_202210_1)
# 4 compute units x PF_LANES=8 lanes (see README 3.4 for the resource budget).
# Each CU uses 4 HBM banks: trades (float and uint32 views of the SAME buffer -> same bank), ids, market, out.
[connectivity]
nk=pf_kernel:4:pf_kernel_1.pf_kernel_2.pf_kernel_3.pf_kernel_4
sp=pf_kernel_1.trades_f:HBM[0]
sp=pf_kernel_1.trades_i:HBM[0]
sp=pf_kernel_1.ids:HBM[1]
sp=pf_kernel_1.market:HBM[2]
sp=pf_kernel_1.out:HBM[3]
sp=pf_kernel_2.trades_f:HBM[4]
sp=pf_kernel_2.trades_i:HBM[4]
sp=pf_kernel_2.ids:HBM[5]
sp=pf_kernel_2.market:HBM[6]
sp=pf_kernel_2.out:HBM[7]
sp=pf_kernel_3.trades_f:HBM[8]
sp=pf_kernel_3.trades_i:HBM[8]
sp=pf_kernel_3.ids:HBM[9]
sp=pf_kernel_3.market:HBM[10]
sp=pf_kernel_3.out:HBM[11]
sp=pf_kernel_4.trades_f:HBM[12]
sp=pf_kernel_4.trades_i:HBM[12]
sp=pf_kernel_4.ids:HBM[13]
sp=pf_kernel_4.market:HBM[14]
sp=pf_kernel_4.out:HBM[15]


[vivado]
prop=run.impl_1.STEPS.OPT_DESIGN.ARGS.DIRECTIVE=Explore
prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=ExtraNetDelay_high
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.ARGS.DIRECTIVE=AggressiveExplore
prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=Explore
prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.IS_ENABLED=true
